html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.progress {
  position: fixed;
  left: 0;
  top: 0;
  width: 0%;
  height: 5px;
  background: #f7931e;
  z-index: 5;
}

@font-face {
  font-family: 'Futura-Medium';
  src: url("../fonts/FuturaMedium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  z-index: 1001;
}

.preloader__row {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  -webkit-animation: preloader-rotate 2s infinite linear;
          animation: preloader-rotate 2s infinite linear;
}

.preloader__item {
  position: absolute;
  display: inline-block;
  top: 0;
  background-color: #00a99d;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  -webkit-animation: preloader-bounce 2s infinite ease-in-out;
          animation: preloader-bounce 2s infinite ease-in-out;
}

.preloader__item:last-child {
  background-color: #f7931e;
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}

@-webkit-keyframes preloader-rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes preloader-rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes preloader-bounce {
  0%,
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes preloader-bounce {
  0%,
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.loaded_hiding .preloader {
  -webkit-transition: 0.3s opacity;
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  width: 100%;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background: transparent;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header .container {
  position: fixed;
  height: 60px;
}

.header-wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 5px;
}

.header-back {
  text-decoration: none;
  font-family: 'Futura-Medium', sans-serif;
  color: #00a99d;
  font-size: 20px;
}

.header-back-mob {
  text-decoration: none;
  font-family: 'Futura-Medium', sans-serif;
  color: #00a99d;
  font-size: 50px;
  display: none;
  padding-bottom: 12px;
  width: 130px;
}

.header-logo {
  background: url("../img/logo.svg") no-repeat center center;
  height: 40px;
  width: 190px;
}

.header-link {
  display: inline-block;
  background-color: #f7931e;
  height: 40px;
  width: 40px;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.header-link:hover {
  background-color: #00a99d;
}

.header-link__facebook {
  -webkit-mask: url("../img/facebook-icon.svg") no-repeat center center;
          mask: url("../img/facebook-icon.svg") no-repeat center center;
}

.header-link__instagram {
  -webkit-mask: url("../img/instagram-icon.svg") no-repeat center center;
          mask: url("../img/instagram-icon.svg") no-repeat center center;
}

.header-link__phone {
  cursor: pointer;
  -webkit-mask: url("../img/phone-icon.svg") no-repeat center center;
          mask: url("../img/phone-icon.svg") no-repeat center center;
}

.header-tel {
  font-family: 'Futura-Medium', sans-serif;
  position: fixed;
  top: 80px;
  background: #f7931e;
  padding: 15px;
  font-size: 15px;
  color: #fff;
  border-radius: 15px;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  opacity: 0;
}

.header-tel span {
  cursor: pointer;
  margin-left: 15px;
}

.container {
  max-width: 1169px;
  width: 1169px;
  height: 100%;
}

.main {
  min-height: 100vh;
  height: auto;
  width: 100%;
  background: url("../img/left-bg.png") no-repeat left -350px top -20px fixed, url("../img/right-bg.png") no-repeat right -350px top -20px fixed, url(../img/main-bg.jpg) no-repeat top center fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-wrapper {
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-logo {
  width: 600px;
}

.main-title {
  color: #f7931e;
  border-radius: 30px;
  font-weight: normal;
  font-size: 40px;
  font-family: 'Futura-Medium', sans-serif;
}

.main-subtitle {
  color: #00a99d;
  border-radius: 30px;
  font-weight: normal;
  font-size: 30px;
  font-family: 'Futura-Medium', sans-serif;
}

.main-text {
  color: #f7931e;
  font-weight: normal;
  font-size: 20px;
  font-family: 'Futura-Medium', sans-serif;
}

.main-line {
  height: 4px;
  width: 600px;
  background-color: #00a99d;
}

.main-scroll {
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.main-scroll:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.main-scroll__text {
  font-family: 'Futura-Medium', sans-serif;
  padding-top: 50px;
  font-size: 20px;
}

.about {
  height: auto;
  min-height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Futura-Medium', sans-serif;
  background: url("../img/lines.png") repeat-y top right, #fff;
  background-size: 70px;
}

.about-wrapper {
  padding-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
}

.about-title {
  font-size: 35px;
  color: #00a99d;
}

.about-subtitle {
  font-size: 25px;
}

.about-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.about-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.about-img img {
  width: 90%;
  height: auto;
}

.stages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: auto;
  min-height: 100vh;
  width: 100%;
  font-family: 'Futura-Medium', sans-serif;
  background: url("../img/stages-bg.jpg") no-repeat center center;
  background-size: cover;
  color: #fff;
}

.stages-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.stages-title {
  font-size: 35px;
  color: #f7931e;
}

.stages-desc {
  font-size: 25px;
  font-weight: normal;
}

.stages-subtitle {
  padding-top: 30px;
  font-size: 30px;
  color: #f7931e;
}

.stages-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.stages-list__left {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
}

.stages-list__right {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
}

.stages-list__item {
  height: 100px;
  font-size: 25px;
  font-weight: normal;
}

.stages-icon {
  height: 10px;
}

.subjects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: auto;
  min-height: 100vh;
  width: 100%;
  font-family: 'Futura-Medium', sans-serif;
  background: url("../img/lines.png") repeat-y top left, #fff;
  background-size: 70px;
}

.subjects-wrapper {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subjects-title {
  font-size: 35px;
  color: #00a99d;
  margin-bottom: 60px;
}

.subjects-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.subjects-subtitle {
  font-size: 35px;
  color: #00a99d;
}

.subjects-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 25px;
}

.subjects-text__list {
  margin-top: 0;
  font-size: 25px;
  padding-left: 20px;
}

.subjects-text__article {
  color: #00a99d;
  list-style: none;
  margin-top: 10px;
}

.subjects-text__article::before {
  content: "\2022";
  color: #f7931e;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.subjects-text__subtitle {
  display: block;
  margin-top: 5px;
  color: #000;
}

.subjects-item {
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #00a99d;
  font-size: 25px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  margin-bottom: 60px;
  text-align: center;
  cursor: pointer;
}

.subjects-item:hover {
  color: #f7931e;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.subjects-item__england {
  background: url("../img/subjects/england.png") no-repeat top center;
  background-size: auto 70%;
}

.subjects-item__ukraine {
  background: url("../img/subjects/ukraine.png") no-repeat top center;
  background-size: auto 70%;
}

.subjects-item__chemistry {
  background: url("../img/subjects/chemistry.svg") no-repeat top center;
  background-size: auto 70%;
}

.subjects-item__physics {
  background: url("../img/subjects/physics.svg") no-repeat top center;
  background-size: auto 70%;
}

.subjects-item__biology {
  background: url("../img/subjects/biology.svg") no-repeat top center;
  background-size: auto 70%;
}

.subjects-item__math {
  background: url("../img/subjects/math.svg") no-repeat top center;
  background-size: auto 70%;
}

.types {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: auto;
  min-height: 100vh;
  width: 100%;
  font-family: 'Futura-Medium', sans-serif;
  background: url("../img/types-bg.jpg") no-repeat center center;
  background-size: cover;
}

.types-wrapper {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
}

.types-title {
  font-size: 35px;
  color: #f7931e;
}

.types-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 70px;
}

.types-item__title {
  font-size: 30px;
  padding-left: 80px;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

.types-item__subtitle {
  padding-top: 5px;
  font-size: 25px;
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
}

.types-item__first {
  background: url("../img/01.svg") no-repeat top left;
  background-size: 70px;
}

.types-item__second {
  background: url("../img/02.svg") no-repeat top left;
  background-size: 70px;
}

.types-item__third {
  background: url("../img/03.svg") no-repeat top left;
  background-size: 70px;
}

.teachers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: auto;
  width: 100%;
  font-family: 'Futura-Medium', sans-serif;
  background: url("../img/lines.png") repeat-y top right, #fff;
  background-size: 70px;
}

.teachers-wrapper {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 30px;
}

.teachers-title {
  font-size: 35px;
  color: #00a99d;
}

.teachers-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.teachers-item {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 20px;
}

.teachers-img {
  width: 100%;
}

.teachers-btn {
  margin-top: 5px;
  padding: 5px;
  font-size: 20px;
  font-family: 'Futura-Medium', sans-serif;
  border: 2px solid #00a99d;
  color: #00a99d;
  background-color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
  font-family: 'Futura-Medium', sans-serif;
}

.teachers-btn:hover {
  color: #ffffff;
  background-color: #00a99d;
}

.btn {
  height: 30px;
  width: 30px;
  display: block;
  cursor: pointer;
  margin-left: 30px;
}

.btn-prev {
  -webkit-mask: url("../img/prev.svg") no-repeat center center;
          mask: url("../img/prev.svg") no-repeat center center;
  background-size: cover;
}

.btn-next {
  -webkit-mask: url("../img/next.svg") no-repeat center center;
          mask: url("../img/next.svg") no-repeat center center;
  background-size: cover;
}

.reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: auto;
  min-height: 100vh;
  width: 100%;
  font-family: 'Futura-Medium', sans-serif;
  background: url("../img/reviews-bg.jpg") no-repeat center center;
  background-size: cover;
  color: #f7931e;
}

.reviews-wrapper {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reviews-title {
  font-size: 35px;
}

.reviews-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reviews-slider {
  width: 100%;
  height: 80vh;
  display: block;
  margin: 0 auto;
  position: relative;
}

.reviews-slider__dots {
  width: 100%;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 3;
}

.reviews-slider__dots .dot-reviews {
  height: 16px;
  width: 16px;
  margin: 0 5px;
  border-radius: 50%;
  border: solid #00a99d;
  display: inline-block;
  -webkit-transition: background-color, -webkit-transform .7s;
  transition: background-color, -webkit-transform .7s;
  transition: background-color, transform .7s;
  transition: background-color, transform .7s, -webkit-transform .7s;
  cursor: pointer;
}

.reviews-slider__dots .dot-reviews-active {
  background-color: #f7931e;
  border: solid #f7931e;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.reviews-slider__dots .dot-reviews:hover {
  background-color: #f7931e;
  border: solid #f7931e;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.reviews-slider__container {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reviews-slider__item {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity .7s;
  transition: opacity .7s;
}

.reviews-slider__img {
  height: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.reviews-active-slide {
  opacity: 1;
}

.questions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: auto;
  min-height: 100vh;
  width: 100%;
  font-family: 'Futura-Medium', sans-serif;
  background: url("../img/lines.png") repeat-y top left, #fff;
  background-size: 70px;
  color: #00a99d;
}

.questions-wrapper {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.questions-title {
  font-size: 35px;
}

.questions-container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.questions-item {
  margin-bottom: 20px;
}

.questions-item__question {
  cursor: pointer;
  font-size: 25px;
  padding: 10px 20px;
  border-radius: 15px;
  background-color: #00a99d;
  color: #fff;
  -webkit-transition: background-color .5s ease-out;
  transition: background-color .5s ease-out;
}

.questions-item__answer {
  font-size: 20px;
  margin-top: 10px;
  padding: 0 10px;
  max-height: 0;
  overflow: hidden;
  opacity: 1;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
  padding-left: 20px;
}

.questions-item__answer ul {
  margin: 0;
  padding-left: 20px;
}

.questions-item__answer ul span {
  display: block;
  color: #000;
}

.active-answer {
  opacity: 1;
  max-height: 500px;
  -webkit-transition: all .5s ease-in;
  transition: all .5s ease-in;
}

.active-question {
  background-color: #f7931e;
  -webkit-transition: background-color .5s ease-in;
  transition: background-color .5s ease-in;
}

.feedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: auto;
  min-height: 100vh;
  width: 100%;
  font-family: 'Futura-Medium', sans-serif;
  background: url("../img/feedback-bg.jpg");
  background-size: cover;
}

.feedback-wrapper {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 50px;
}

.feedback-title {
  font-size: 35px;
  color: #f7931e;
}

.feedback-form {
  height: 500px;
  width: 700px;
  background: #fff;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
}

.feedback-form__head {
  width: 190px;
}

.feedback-form__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 600px;
  height: 100%;
}

.feedback-form__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.feedback-form__message {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.feedback-form__input {
  width: 190px;
  height: 30px;
  padding: 0 10px;
}

.feedback-form__select {
  width: 190px;
  height: 30px;
  cursor: pointer;
  padding: 0 10px;
}

.feedback-form__textarea {
  height: 200px;
  padding: 10px;
}

.feedback-form__btn {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 20px;
  border: 2px solid #00a99d;
  color: #00a99d;
  background-color: #fff;
  border-radius: 30px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
  font-family: 'Futura-Medium', sans-serif;
}

.feedback-form__btn:hover {
  color: #ffffff;
  background-color: #00a99d;
}

.inputs {
  display: block;
  width: 100%;
  margin-top: 10px;
  border-radius: 5px;
  border: 2px solid #000;
  outline: none;
  font-family: 'Futura-Medium', sans-serif;
  font-size: 20px;
}

.inputs:focus {
  border: 2px solid #00a99d;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 140px;
  width: 100%;
  background: #00a99d;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.footer .container {
  height: 100%;
}

.footer-wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-logo {
  background: url("../img/logo.svg") no-repeat center center;
  height: 40px;
  width: 190px;
}

.footer-copyright {
  font-family: 'Futura-Medium', sans-serif;
  color: #fff;
  margin-top: 15px;
}

.footer-copyright__sub {
  font-family: 'Futura-Medium', sans-serif;
  color: #fff;
}

.footer-scroll__bg {
  height: 40px;
  width: 40px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
}

.footer-scroll__link {
  background-color: #00a99d;
  cursor: pointer;
  height: 30px;
  width: 30px;
  -webkit-mask: url("../img/scroll-top.svg") no-repeat center center;
          mask: url("../img/scroll-top.svg") no-repeat center center;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.footer-scroll__link:hover {
  background-color: #f7931e;
}

.popup {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: 'Futura-Medium', sans-serif;
}

.popup-content {
  position: fixed;
  text-align: center;
  width: 700px;
  left: 50%;
  top: 10%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.popup-close {
  position: absolute;
  z-index: 999999;
  top: 20px;
  right: 20px;
  width: 10px;
  text-align: center;
  border: none;
  background-color: transparent;
  outline: none;
  font-size: 30px;
  color: #f7931e;
  cursor: pointer;
}

.popup-title {
  padding-top: 20px;
  font-size: 25px;
  color: #00a99d;
  max-width: 500px;
}

.popup-undisplay {
  display: none;
}

.popup-form {
  height: 500px;
  width: 700px;
  background: #fff;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
}

.popup-form__head {
  width: 190px;
  text-align: left;
}

.popup-form__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 600px;
  height: 100%;
}

.popup-form__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.popup-form__message {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  text-align: left;
}

.popup-form__input {
  width: 190px;
  height: 30px;
  padding: 0 10px;
}

.popup-form__select {
  width: 190px;
  height: 30px;
  cursor: pointer;
  padding: 0 10px;
}

.popup-form__textarea {
  height: 200px;
  padding: 10px;
}

.popup-form__btn {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 20px;
  border: 2px solid #00a99d;
  color: #00a99d;
  background-color: #fff;
  border-radius: 30px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
  font-family: 'Futura-Medium', sans-serif;
}

.popup-form__btn:hover {
  color: #ffffff;
  background-color: #00a99d;
}

.inputs {
  display: block;
  width: 100%;
  margin-top: 10px;
  border-radius: 5px;
  border: 2px solid #000;
  outline: none;
  font-family: 'Futura-Medium', sans-serif;
  font-size: 20px;
}

.inputs:focus {
  border: 2px solid #00a99d;
}

.header-subject {
  background-color: #ffffff;
  height: 60px;
}

.subject {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: auto;
  min-height: 100vh;
  width: 100%;
  padding-top: 100px;
  font-family: 'Futura-Medium', sans-serif;
  background: url("../img/lines.png") repeat-y top left, #fff;
  background-size: 70px;
}

.subject-wrapper {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subject-main {
  height: auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}

.subject-main__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.subject-title {
  font-size: 30px;
  color: #f7931e;
  margin-bottom: 20px;
  text-align: center;
}

.subject-subtitle {
  font-size: 25px;
  color: #f7931e;
  font-weight: normal;
}

.subject-info__left {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
}

.subject-info__right {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

.subject-info__list {
  margin-top: 0;
  font-size: 20px;
  padding-left: 20px;
}

.subject-info__article {
  color: #00a99d;
  list-style: none;
  margin-top: 10px;
}

.subject-info__article::before {
  content: "\2022";
  color: #f7931e;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.subject-info__subtitle {
  color: #000;
}

.subject-teacher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.subject-teacher__image {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}

.subject-teacher__about {
  -ms-flex-preferred-size: 55%;
      flex-basis: 55%;
  font-family: 'Futura-Medium', sans-serif;
  font-weight: normal;
  font-size: 20px;
}

.subject-teacher__img {
  width: 100%;
  height: auto;
}

.subject-teacher__block2 {
  display: none;
}

.subject-toggle {
  display: block;
  width: 110px;
  padding-top: 10px;
  text-decoration: none;
  color: #00a99d;
}

.revs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: auto;
  min-height: 100vh;
  width: 100%;
  font-family: 'Futura-Medium', sans-serif;
  background: url("../img/lines.png") repeat-y top right, #fff;
  background-size: 70px;
}

.revs-wrapper {
  min-height: 100vh;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.revs-title {
  font-size: 25px;
  color: #00a99d;
  font-weight: normal;
}

.revs-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.revs-slider {
  width: 100%;
  height: 80vh;
  display: block;
  margin: 0 auto;
  position: relative;
}

.revs-slider__dots {
  width: 100%;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 3;
}

.revs-slider__dots .dot-revs {
  height: 16px;
  width: 16px;
  margin: 0 5px;
  border-radius: 50%;
  border: solid #00a99d;
  display: inline-block;
  -webkit-transition: background-color, -webkit-transform .7s;
  transition: background-color, -webkit-transform .7s;
  transition: background-color, transform .7s;
  transition: background-color, transform .7s, -webkit-transform .7s;
  cursor: pointer;
}

.revs-slider__dots .dot-revs-active {
  background-color: #f7931e;
  border: solid #f7931e;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.revs-slider__dots .dot-revs:hover {
  background-color: #f7931e;
  border: solid #f7931e;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.revs-slider__container {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.revs-slider__item {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity .7s;
  transition: opacity .7s;
}

.revs-slider__img {
  height: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.revs-active-slide {
  opacity: 1;
}

.subs-undisplay {
  display: none;
}

.subs-form {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: 20px;
}

.subs-form__head {
  width: 100%;
  text-align: left;
  color: #00a99d;
}

.subs-form__head label b {
  font-weight: normal;
}

.subs-form__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 10px 0;
}

.subs-form__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.subs-form__message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  text-align: left;
  color: #00a99d;
}

.subs-form__message label b {
  font-weight: normal;
}

.subs-form__input {
  width: 190px;
  height: 30px;
  padding: 0 10px;
}

.subs-form__select {
  width: 190px;
  height: 30px;
  cursor: pointer;
  padding: 0 10px;
}

.subs-form__textarea {
  height: 100px;
  padding: 10px;
}

.subs-form__btn {
  padding: 10px 20px;
  font-size: 20px;
  border: 2px solid #00a99d;
  color: #00a99d;
  background-color: #fff;
  border-radius: 30px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
  font-family: 'Futura-Medium', sans-serif;
}

.subs-form__btn:hover {
  color: #ffffff;
  background-color: #00a99d;
}

.footerS {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 140px;
  width: 100%;
  background: #00a99d;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.footerS .container {
  height: 100%;
}

.footerS-wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footerS-logo {
  background: url("../img/logo.svg") no-repeat center center;
  height: 40px;
  width: 190px;
}

.footerS-copyright {
  font-family: 'Futura-Medium', sans-serif;
  color: #fff;
  margin-top: 15px;
}

.footerS-copyright__sub {
  font-family: 'Futura-Medium', sans-serif;
  color: #fff;
}

.inputs {
  display: block;
  width: 100%;
  margin: 10px 0;
  margin-top: 5px;
  border-radius: 5px;
  border: 2px solid #000;
  outline: none;
  font-family: 'Futura-Medium', sans-serif;
  font-size: 20px;
}

.inputs:focus {
  border: 2px solid #00a99d;
}

@media (max-width: 1370px) {
  .container {
    max-width: 1000px;
  }
  .main-logo {
    width: 350px;
  }
  .types-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .types-item__subtitle {
    margin-top: 30px;
  }
  .reviews-slider {
    height: 500px;
  }
  .reviews-slider__img {
    height: 450px;
  }
  .revs-slider {
    height: 500px;
  }
  .revs-slider__img {
    height: 450px;
  }
}

@media (max-width: 1100px) {
  .container {
    max-width: 900px;
  }
  .main-title {
    font-size: 40px;
  }
  .main-logo {
    width: 500px;
  }
  .main-line {
    width: 500px;
  }
  .stages {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .stages-subtitle {
    font-size: 25px;
  }
  .stages-list__item {
    font-size: 20px;
  }
  .subjects-item {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .subjects-text__list {
    font-size: 20px;
  }
  .types-item__subtitle {
    font-size: 20px;
  }
}

@media (max-width: 1025px) {
  .container {
    max-width: 800px;
  }
  .main-title {
    font-size: 40px;
  }
  .subject {
    background-size: 30px;
  }
  .subject-subtitle {
    margin: 0;
  }
  .about {
    background-size: 30px;
  }
  .about-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 50px;
  }
  .about-text {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
  }
  .about-img {
    margin-top: 30px;
    -ms-flex-preferred-size: 70%;
        flex-basis: 70%;
  }
  .stages {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 0;
  }
  .stages-wrapper {
    padding-bottom: 25px;
  }
  .stages-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .stages-list__item {
    height: auto;
  }
  .stages-list-left {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .stages-list-right {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .subjects {
    background-size: 30px;
    min-height: 0;
  }
  .subjects-wrapper {
    padding-bottom: 25px;
  }
  .subjects-item {
    font-size: 25px;
  }
  .subjects-text {
    font-size: 25px;
  }
  .types {
    min-height: 0;
    padding-bottom: 25px;
  }
  .teachers {
    background-size: 30px;
  }
  .reviews {
    min-height: 0;
  }
  .reviews-wrapper {
    padding-bottom: 25px;
  }
  .reviews-slider {
    height: 800px;
  }
  .reviews-slider__img {
    height: 750px;
  }
  .revs {
    min-height: 0;
    background-size: 30px;
  }
  .revs-wrapper {
    padding-bottom: 25px;
  }
  .revs-slider {
    height: 800px;
  }
  .revs-slider__img {
    height: 750px;
  }
  .questions {
    background-size: 30px;
    min-height: 0;
  }
  .questions-wrapper {
    padding-bottom: 25px;
  }
  .feedback {
    min-height: 0;
  }
  .feedback-wrapper {
    padding-bottom: 40px;
  }
  .feedback-form {
    width: 500px;
    height: 650px;
  }
  .feedback-form__container {
    width: 90%;
    height: 90%;
  }
  .feedback-form__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .feedback-form__message {
    margin-top: 0;
  }
  .feedback-form__head {
    width: 100%;
    margin-bottom: 0;
  }
  .feedback-form__btn {
    font-size: 25px;
  }
  .popup-title {
    width: 75%;
  }
  .popup-close {
    right: 10%;
  }
  .popup-content {
    width: 500px;
  }
  .popup-form {
    width: 100%;
    height: 100%;
  }
  .popup-form__textarea {
    height: 120px;
  }
  .popup-form__container {
    width: 90%;
    height: 90%;
  }
  .popup-form__head {
    margin-bottom: 0;
    width: 100%;
  }
  .popup-form__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .popup-form__message {
    margin-top: 0;
  }
  .popup-form__btn {
    font-size: 25px;
    margin-top: 0;
    margin-bottom: 20px;
  }
  .inputs {
    font-size: 20px;
  }
}

@media (max-width: 900px) {
  .subject {
    padding-top: 70px;
  }
  .subject-main__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .subject-subtitle {
    width: 100%;
    text-align: center;
  }
  .subject-info__right {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    width: 100%;
  }
  .container {
    max-width: 90%;
    width: 90%;
  }
  .main {
    background: url("../img/left-bg.png") no-repeat left -450px top -20px fixed, url("../img/right-bg.png") no-repeat right -450px top -20px fixed, url(../img/main-bg.jpg) no-repeat top center fixed;
  }
}

@media (max-width: 600px) {
  .header-logo {
    background: url("../img/logo-phone.svg") no-repeat center left;
    width: 50px;
  }
  .main-title {
    font-size: 30px;
  }
  .main-subtitle {
    font-size: 20px;
  }
  .main-logo {
    width: 400px;
  }
  .main-line {
    width: 400px;
  }
  .feedback-form {
    width: 100%;
    height: 650px;
  }
  .popup-content {
    width: 90%;
  }
  .about-wrapper {
    height: auto;
  }
  .about-img {
    height: 300px;
  }
  .about, .subjects, .teachers, .questions, .revs, .subject {
    background-size: 15px;
  }
  .subject-teacher {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footerS-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .footerS-left {
    margin-bottom: 15px;
  }
  .header-back {
    display: none;
  }
  .header-back-mob {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .teachers-item {
    -ms-flex-preferred-size: 48%;
        flex-basis: 48%;
  }
  .reviews-slider__dots .dot-reviews {
    width: 10px;
    height: 10px;
    margin: 0 3px;
  }
}

@media (max-width: 500px) {
  .main-title {
    font-size: 25px;
  }
  .main-subtitle {
    font-size: 15px;
  }
  .main-logo {
    width: 300px;
  }
  .main-line {
    width: 300px;
  }
  .main-scroll__text {
    font-size: 15px;
  }
  .reviews-slider {
    height: 600px;
  }
  .reviews-slider__img {
    height: 550px;
  }
  .revs-slider {
    height: 600px;
  }
  .revs-slider__img {
    height: 550px;
  }
  .subjects-item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .subjects-item:nth-last-child(1) {
    margin-bottom: 0;
  }
  .types-item {
    padding-bottom: 30px;
  }
  .types-item__subtitle {
    margin-top: 20px;
  }
  .types-item__title {
    padding-left: 0;
    padding-top: 60px;
  }
  .about-title, .stages-title, .subjects-title, .types-title, .teachers-title, .reviews-title, .questions-title, .feedback-title, .types-item__title, .subjects-subtitle, .revs-title {
    font-size: 25px;
  }
  .questions-item__question {
    font-size: 20px;
  }
  .subjects-text {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .about-subtitle, .stages-subtitle, .stages-list__item, .subjects-item, .subjects-text, .types-item__subtitle {
    font-size: 20px;
  }
  .reviews-slider__dots .dot {
    height: 10px;
    width: 10px;
    margin: 0 3px;
  }
  .revs-slider__dots .dot {
    height: 10px;
    width: 10px;
    margin: 0 3px;
  }
  .popup-form__textarea {
    height: 170px;
  }
}

@media (max-width: 400px) {
  .main-logo {
    width: 250px;
  }
  .main-line {
    width: 250px;
    height: 2px;
  }
  .teachers-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .btn {
    margin-bottom: 20px;
  }
  .btn-prev {
    margin-left: 0;
  }
  .reviews-slider {
    height: 500px;
  }
  .reviews-slider__img {
    height: 450px;
  }
  .revs-slider {
    height: 500px;
  }
  .revs-slider__img {
    height: 450px;
  }
  .footer-copyright {
    font-size: 10px;
  }
  .footerS-copyright__sub {
    font-size: 10px;
  }
}
/*# sourceMappingURL=style.css.map */