html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.progress {
  position: fixed;
  left: 0;
  top: 0;
  width: 0%;
  height: 5px;
  background: #f7931e;
  z-index: 3;
}

@font-face {
  font-family: 'Futura-Medium';
  src: url("../fonts/FuturaMedium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  z-index: 1001;
}

.preloader__row {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  -webkit-animation: preloader-rotate 2s infinite linear;
          animation: preloader-rotate 2s infinite linear;
}

.preloader__item {
  position: absolute;
  display: inline-block;
  top: 0;
  background-color: #00a99d;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  -webkit-animation: preloader-bounce 2s infinite ease-in-out;
          animation: preloader-bounce 2s infinite ease-in-out;
}

.preloader__item:last-child {
  background-color: #f7931e;
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}

@-webkit-keyframes preloader-rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes preloader-rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes preloader-bounce {
  0%,
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes preloader-bounce {
  0%,
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.loaded_hiding .preloader {
  -webkit-transition: 0.3s opacity;
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  width: 100%;
  position: fixed;
  z-index: 5;
  background: transparent;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header .container {
  position: fixed;
  height: 60px;
}

.header-wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 5px;
}

.header-logo {
  background: url("../img/logo.svg") no-repeat center center;
  height: 40px;
  width: 190px;
}

.header-link {
  display: inline-block;
  background-color: #f7931e;
  height: 40px;
  width: 40px;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.header-link:hover {
  background-color: #00a99d;
}

.header-link__facebook {
  -webkit-mask: url("../img/facebook-icon.svg") no-repeat center center;
          mask: url("../img/facebook-icon.svg") no-repeat center center;
}

.header-link__instagram {
  -webkit-mask: url("../img/instagram-icon.svg") no-repeat center center;
          mask: url("../img/instagram-icon.svg") no-repeat center center;
}

.header-link__phone {
  -webkit-mask: url("../img/phone-icon.svg") no-repeat center center;
          mask: url("../img/phone-icon.svg") no-repeat center center;
}

.container {
  max-width: 1169px;
  width: 1169px;
  height: 100%;
}

.main {
  min-height: 100vh;
  height: 100vh;
  width: 100%;
  background: url("../img/left-bg.png") no-repeat left -350px top -20px fixed, url("../img/right-bg.png") no-repeat right -350px top -20px fixed, url(../img/main-bg.jpg) no-repeat top center fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-logo {
  width: 400px;
}

.main-title {
  color: #f7931e;
  font-size: 50px;
  font-family: 'Futura-Medium', sans-serif;
}

.main-scroll__text {
  font-family: 'Futura-Medium', sans-serif;
  padding-top: 30px;
}

.about {
  height: 100vh;
  min-height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Futura-Medium', sans-serif;
  background: url("../img/lines.png") repeat-y top right, #fff;
  background-size: 70px;
}

.about-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
}

.about-title {
  font-size: 35px;
  color: #00a99d;
}

.about-subtitle {
  font-size: 25px;
}

.about-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.about-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  background: url("../img/info-about.png") no-repeat center center;
}

.stages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  min-height: 100vh;
  width: 100%;
  font-family: 'Futura-Medium', sans-serif;
  background: url("../img/stages-bg.jpg") no-repeat center center;
  background-size: 100% auto;
  color: #fff;
}

.stages-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.stages-title {
  font-size: 35px;
  color: #f7931e;
}

.stages-subtitle {
  font-size: 30px;
}

.stages-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.stages-list__left {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}

.stages-list__right {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}

.stages-list__item {
  height: 150px;
  font-size: 25px;
}

.stages-icon {
  height: 10px;
}

.subjects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  min-height: 100vh;
  width: 100%;
  font-family: 'Futura-Medium', sans-serif;
  background: url("../img/lines.png") repeat-y top left, #fff;
  background-size: 70px;
}

.subjects-wrapper {
  margin-top: 60px;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.subjects-title {
  font-size: 35px;
  color: #00a99d;
}

.subjects-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.subjects-text {
  font-size: 20px;
}

.subjects-item {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #00a99d;
  font-size: 20px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.subjects-item:hover {
  color: #f7931e;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.subjects-item__england {
  background: url("../img/subjects/england.svg") no-repeat top center;
  background-size: auto 70%;
  margin-bottom: 60px;
}

.subjects-item__ukraine {
  background: url("../img/subjects/ukraine.svg") no-repeat top center;
  background-size: auto 70%;
  margin-bottom: 60px;
}

.subjects-item__chemistry {
  background: url("../img/subjects/chemistry.svg") no-repeat top center;
  background-size: auto 70%;
  margin-bottom: 60px;
}

.subjects-item__physics {
  background: url("../img/subjects/physics.svg") no-repeat top center;
  background-size: auto 70%;
}

.subjects-item__biology {
  background: url("../img/subjects/biology.svg") no-repeat top center;
  background-size: auto 70%;
}

.subjects-item__math {
  background: url("../img/subjects/math.svg") no-repeat top center;
  background-size: auto 70%;
}

.types {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  min-height: 100vh;
  width: 100%;
  font-family: 'Futura-Medium', sans-serif;
  background: url("../img/types-bg.jpg") no-repeat center center;
  background-size: 100% auto;
}

.types-wrapper {
  margin-top: 60px;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
}

.types-title {
  font-size: 35px;
  color: #f7931e;
}

.types-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 70px;
}

.types-item__title {
  font-size: 30px;
  padding-left: 80px;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

.types-item__subtitle {
  font-size: 25px;
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
}

.types-item__first {
  background: url("../img/01.svg") no-repeat top left;
  background-size: 70px;
}

.types-item__second {
  background: url("../img/02.svg") no-repeat top left;
  background-size: 70px;
}

.types-item__third {
  background: url("../img/03.svg") no-repeat top left;
  background-size: 70px;
}

.teachers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  min-height: 100vh;
  width: 100%;
  font-family: 'Futura-Medium', sans-serif;
  background: url("../img/lines.png") repeat-y top right, #fff;
  background-size: 70px;
}

.teachers-wrapper {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.teachers-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.teachers-title {
  font-size: 35px;
  color: #00a99d;
}

.teachers-slider {
  width: 100%;
  margin: 0 auto;
}

.teachers-slider__container {
  overflow: hidden;
}

.teachers-slider__track {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: .5s;
  transition: .5s;
}

.teachers-slider__item {
  overflow: hidden;
  height: 390px;
  text-align: right;
}

.teachers-slider__item div {
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.teachers-slider__item:hover div {
  -webkit-transform: translateY(-150%);
          transform: translateY(-150%);
}

.teachers-slider__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.teachers-info {
  color: #fff;
}

.teachers-info img {
  height: 50px;
}

.teachers-info__name {
  width: 100%;
}

.teachers-info__subject {
  width: 100%;
}

.teachers-img {
  width: 100%;
}

.btn {
  height: 30px;
  width: 30px;
  display: block;
  cursor: pointer;
  margin-left: 30px;
}

.btn-prev {
  -webkit-mask: url("../img/prev.svg") no-repeat center center;
          mask: url("../img/prev.svg") no-repeat center center;
  background-size: cover;
}

.btn-next {
  -webkit-mask: url("../img/next.svg") no-repeat center center;
          mask: url("../img/next.svg") no-repeat center center;
  background-size: cover;
}

.reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  min-height: 100vh;
  width: 100%;
  font-family: 'Futura-Medium', sans-serif;
  background: url("../img/reviews-bg.jpg") no-repeat center center;
  background-size: cover;
  color: #f7931e;
}

.reviews-wrapper {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.reviews-title {
  font-size: 35px;
}

.reviews-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reviews-slider {
  width: 100%;
  height: 80vh;
  display: block;
  margin: 0 auto;
  position: relative;
}

.reviews-slider__dots {
  width: 100%;
  margin: 20px auto 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 3;
}

.reviews-slider__dots .dot {
  height: 16px;
  width: 16px;
  margin: 0 5px;
  border-radius: 50%;
  border: solid #00a99d;
  display: inline-block;
  -webkit-transition: background-color, -webkit-transform .7s;
  transition: background-color, -webkit-transform .7s;
  transition: background-color, transform .7s;
  transition: background-color, transform .7s, -webkit-transform .7s;
}

.reviews-slider__dots .dot-active {
  background-color: #f7931e;
  border: solid #f7931e;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.reviews-slider__container {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reviews-slider__item {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity .7s;
  transition: opacity .7s;
}

.reviews-slider__img {
  height: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.reviews-btn {
  height: 30px;
  width: 30px;
  display: inline-block;
  cursor: pointer;
  background: #f7931e;
  margin-left: 30px;
}

.reviews-btn-prev {
  -webkit-mask: url("../img/prev.svg") no-repeat center center;
          mask: url("../img/prev.svg") no-repeat center center;
  background-size: cover;
}

.reviews-btn-next {
  -webkit-mask: url("../img/next.svg") no-repeat center center;
          mask: url("../img/next.svg") no-repeat center center;
  background-size: cover;
}

.active-slide {
  opacity: 1;
}

.questions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  min-height: 100vh;
  width: 100%;
  font-family: 'Futura-Medium', sans-serif;
  background: url("../img/lines.png") repeat-y top left, #fff;
  background-size: 70px;
  color: #00a99d;
}

.questions-wrapper {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.questions-title {
  font-size: 35px;
}

.questions-item {
  margin-bottom: 20px;
}

.questions-item__question {
  cursor: pointer;
  font-size: 25px;
  padding: 10px 20px;
  border-radius: 15px;
  background-color: #00a99d;
  color: #fff;
  -webkit-transition: background-color .5s ease-out;
  transition: background-color .5s ease-out;
}

.questions-item__answer {
  font-size: 20px;
  margin-top: 10px;
  padding: 0 10px;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height .5s ease-out;
  transition: max-height .5s ease-out;
}

.active-answer {
  max-height: 500px;
  -webkit-transition: max-height .5s ease-in;
  transition: max-height .5s ease-in;
}

.active-question {
  background-color: #f7931e;
  -webkit-transition: background-color .5s ease-in;
  transition: background-color .5s ease-in;
}

.feedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  min-height: 100vh;
  width: 100%;
  font-family: 'Futura-Medium', sans-serif;
  background: url("../img/feedback-bg.jpg");
  background-size: cover;
}

.feedback-wrapper {
  margin-top: 60px;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.feedback-title {
  font-size: 35px;
  color: #f7931e;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 180px;
  width: 100%;
  background: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.footer .container {
  height: 60px;
}

.footer-wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 5px;
}

.footer-logo {
  background: url("../img/logo.svg") no-repeat center center;
  height: 40px;
  width: 190px;
}

.footer-link {
  display: inline-block;
  background-color: #f7931e;
  height: 40px;
  width: 40px;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.footer-link:hover {
  background-color: #00a99d;
}

.footer-link__facebook {
  -webkit-mask: url("../img/facebook-icon.svg") no-repeat center center;
          mask: url("../img/facebook-icon.svg") no-repeat center center;
}

.footer-link__instagram {
  -webkit-mask: url("../img/instagram-icon.svg") no-repeat center center;
          mask: url("../img/instagram-icon.svg") no-repeat center center;
}

.footer-link__phone {
  -webkit-mask: url("../img/phone-icon.svg") no-repeat center center;
          mask: url("../img/phone-icon.svg") no-repeat center center;
}
/*# sourceMappingURL=style.css.map */