html 
  box-sizing: border-box
  margin: 0
  padding: 0

*,
*::before,
*::after 
  box-sizing: inherit

body
  box-sizing: inherit
  margin: 0
  padding: 0
  

$primary: #00a99d
$secondary: #f7931e

@import './components/_font'  
@import './components/_header'
@import './components/_container'
@import './components/_main'
@import './components/_info'