.main
  min-height: 100vh
  height: 100vh
  width: 100%
  background: url('../img/left-bg.png') no-repeat left -350px top -20px fixed, url('../img/right-bg.png') no-repeat right -350px top -20px fixed, url(../img/main-bg.jpg) no-repeat top center fixed
  background-size: 
  display: flex
  justify-content: space-around
  align-items: center
  &-wrapper
    height: 100%
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
  &-logo
    width: 400px
  &-title
    color: $secondary
    font-size: 50px
    +norm
  &-scroll__text
    +norm
    padding-top: 30px