.questions
  display: flex
  align-items: center
  justify-content: center
  height: auto
  min-height: 100vh
  width: 100%
  +norm
  background: url('../img/lines.png') repeat-y top left, #fff
  background-size: 70px 
  color: $primary
  &-wrapper
    height: auto
    display: flex
    flex-direction: column
  &-title
    font-size: 35px
  &-container
    height: 100%
    display: flex
    flex-direction: column
    justify-content: center
  &-item
    margin-bottom: 20px
    &__question
      cursor: pointer
      font-size: 25px
      padding: 10px 20px
      border-radius: 15px
      background-color: $primary
      color: #fff
      transition: background-color .5s ease-out
    &__answer
      font-size: 20px
      margin-top: 10px
      padding: 0 10px
      max-height: 0
      overflow: hidden
      opacity: 1
      transition: all .5s ease-out
      padding-left: 20px
      ul
        margin: 0
        padding-left: 20px
        span
          display: block
          color: #000
.active
  &-answer
    opacity: 1
    max-height: 500px
    transition: all .5s ease-in
  &-question
    background-color: $secondary
    transition: background-color .5s ease-in