.subjects
  display: flex
  align-items: center
  justify-content: center
  height: auto
  min-height: 100vh
  width: 100%
  +norm
  background: url('../img/lines.png') repeat-y top left, #fff
  background-size: 70px 
  &-wrapper
    height: auto
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: center
  &-title
    font-size: 35px
    color: $primary
    margin-bottom: 60px
  &-list
    display: flex
    flex-wrap: wrap
    justify-content: center
    width: 100%
  &-subtitle
    font-size: 35px
    color: $primary
  &-text
    display: flex
    align-items: center
    flex-direction: column
    padding-bottom: 25px
    &__list
      margin-top: 0
      font-size: 25px
      padding-left: 20px
    &__article
      color: $primary
      list-style: none
      margin-top: 10px
      &::before
        content: "\2022"
        color: $secondary
        font-weight: bold
        display: inline-block
        width: 1em
        margin-left: -1em
    &__subtitle
      display: block
      margin-top: 5px
      color: #000
  &-item
    flex-basis: 33%
    height: 150px
    display: flex
    align-items: flex-end
    justify-content: center
    color: $primary
    font-size: 25px
    transition: all 0.5s
    margin-bottom: 60px
    text-align: center
    cursor: pointer
    &:hover
      color: $secondary
      transform: scale(1.1)
    &__england
      background: url('../img/subjects/england.png') no-repeat top center
      background-size: auto 70%
    &__ukraine
      background: url('../img/subjects/ukraine.png') no-repeat top center
      background-size: auto 70%
    &__chemistry
      background: url('../img/subjects/chemistry.svg') no-repeat top center
      background-size: auto 70%
    &__physics
      background: url('../img/subjects/physics.svg') no-repeat top center
      background-size: auto 70%
    &__biology
      background: url('../img/subjects/biology.svg') no-repeat top center
      background-size: auto 70%
    &__math
      background: url('../img/subjects/math.svg') no-repeat top center
      background-size: auto 70%