.teachers
  display: flex
  align-items: center
  justify-content: center
  height: auto
  width: 100%
  +norm
  background: url('../img/lines.png') repeat-y top right, #fff
  background-size: 70px 
  &-wrapper
    height: auto
    display: flex
    flex-direction: column
    justify-content: center
    padding-bottom: 30px
  &-title
    font-size: 35px
    color: $primary
  &-list
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    width: 100%
  &-item
    flex-basis: 30%
    display: flex
    flex-direction: column
    padding-bottom: 20px
  &-img
    width: 100%
  &-btn
    margin-top: 5px
    padding: 5px
    font-size: 20px
    +norm
    border: 2px solid $primary
    color: $primary
    background-color: #fff
    transition: all 0.3s
    cursor: pointer
    +norm
    &:hover
      color: #ffffff
      background-color: $primary

.btn
  height: 30px
  width: 30px
  display: block
  cursor: pointer
  margin-left: 30px
  &-prev
    mask: url('../img/prev.svg') no-repeat center center
    background-size: cover
  &-next
    mask: url('../img/next.svg') no-repeat center center
    background-size: cover