.teachers
  display: flex
  align-items: center
  justify-content: center
  height: auto
  width: 100%
  +norm
  background: url('../img/lines.png') repeat-y top right, #fff
  background-size: 70px 
  &-wrapper
    height: auto
    display: flex
    flex-direction: column
    justify-content: center
  &-header
    display: flex
    justify-content: space-between
    align-items: center
  &-title
    font-size: 35px
    color: $primary
  &-slider
    width: 100%
    margin: 0 auto
    &__container
      overflow: hidden
      width: 100%
    &__track
      display: flex
      width: 100%
      max-height: 500px
      transition: .5s
    &__item
      overflow: hidden
      text-align: center
      div
        text-align: right
        transform: translateY(300%)
        transition: transform .5s
      &:hover div
        transform: translateY(-150%)
    &__btns
      display: flex
  &-info
    color: #fff
    img
      height: 50px
    &__name
      width: 100%
    &__subject
      width: 100%
  &-img
    height: 100%
.btn
  height: 30px
  width: 30px
  display: block
  cursor: pointer
  margin-left: 30px
  &-prev
    mask: url('../img/prev.svg') no-repeat center center
    background-size: cover
  &-next
    mask: url('../img/next.svg') no-repeat center center
    background-size: cover