<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" sizes="32x32" href="../favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="../favicon/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="../favicon/favicon-16x16.png">
  <link rel="stylesheet" href="../css/style.css">
  <title>School</title>
</head>
<body>

  <header class="header header-subject">
    <div class="progress">
    </div>
    <div class="container">
      <div class="header-wrapper">
        <a href="javascript:history.back()" class="header-back">&#171; Вернуться на главную</a>
        <a href="javascript:history.back()" class="header-back-mob">&#171;</a>
        <a href="../index.html" class="header-logo"></a>
        <div class="header-social">
          <a href="https://www.facebook.com/o.school.online" title="O!School Facebook" target="_blank" class="header-link header-link__facebook"></a>
          <a href="https://www.instagram.com/o.school.online" title="O!School Instagram" target="_blank" class="header-link header-link__instagram"></a>
          <a title="O!School Call" class="header-link header-link__phone"></a>
          <span class="header-tel header-tel__none">+380983536684<span class="header-tel__close">&#10006;</span>
        </div>
      </div>
    </div>
  </header>
  <!-- /.header -->

  <section class="subject" id="subject">
    <div class="container">
      <div class="subject-wrapper">
        <div class="subject-main">
          <div class="subject-title">Биология в O!School</div>
          <div class="subject-main__info">
            <div class="subject-info__left">
              <h2 class="subject-subtitle">Программы занятий</h2>
              <ul class="subject-info__list">
                <li class="subject-info__article">
                  <span clas="subject-info__title">
                    Индивидуальная программа
                  </span>
                  <span class="subject-info__subtitle">
                    — делаем акцент только на самых интересных или сложных для ученика темах;
                  </span>
                </li>
                <li class="subject-info__article">
                  <span clas="subject-info__title">
                    Школьная программа
                  </span>
                  <span class="subject-info__subtitle">
                    — разбираем непонятные моменты и помогаем с выполнением домашних заданий;
                  </span>
                </li>
                <li class="subject-info__article">
                  <span clas="subject-info__title">
                    Подготовка к ЗНО.
                  </span>
                </li>
              </ul>
              <h2 class="subject-subtitle">Цены и форматы занятий по английскому языку</h2>
              <ul class="subject-info__list">
                <li class="subject-info__article">
                  <span clas="subject-info__title">
                    Индивидуальные (стандарт)
                  </span>
                  <span class="subject-info__subtitle">
                    — 230 грн. (60 мин);
                  </span>
                </li>
                <li class="subject-info__article">
                  <span clas="subject-info__title">
                    Индивидуальные (подготовка к ЗНО)
                  </span>
                  <span class="subject-info__subtitle">
                    — 250 грн. (60 мин);
                  </span>
                </li>
                <li class="subject-info__article">
                  <span clas="subject-info__title">
                    Полуиндивидуальные (2 ученика)
                  </span>
                  <span class="subject-info__subtitle">
                    — 400 грн. (60 мин) / (за двоих);
                  </span>
                </li>
              </ul>
            </div>
            <div class="subject-info__right">
              <form action="contact-form.php" class="subs-form" id="contact-form-biology">
                <h2 class="subject-subtitle">Запись на урок</h2>
                <div class="subs-form__container">
                  <div class="subs-form__header">
                    <div class="subs-form__head">
                      <label for="uname-biology"><b>Ваше имя</b></label>
                      <input type="text" placeholder="Имя" name="uname-biology" class="subs-form__input inputs" required>
                    </div>
                    <div class="subs-form__head">
                      <label for="yourphone-biology"><b>Номер телефона</b></label>
                      <input type="tel" name="yourphone-biology" placeholder="+38(000)-000-00-00" class="subs-form__input phone-input inputs" required>
                    </div>   
                    <input type="text" class="subs-undisplay teacher-input">
                    <input type="text" class="subs-undisplay subject-input">
                    <div class="subs-form__head">
                      <label for="howto-biology"><b>Как с Вами связаться?</b></label>
                      <select type="tel" name="howto-biology" class="subs-form__select inputs">
                        <option>Тел. звонок</option>
                        <option>Viber</option>
                        <option>Telegram</option>
                        <option>WhatsApp</option>
                      </select>
                    </div>
                  </div>
                  <div class="subs-form__message">
                    <label for="yourtext-biology"><b>Ваше сообщение</b></label>
                    <textarea type="text" name="yourtext-biology" class="subs-form__textarea inputs" placeholder="В какое время вам лучше позвонить, чтоб уточнить детали?"></textarea>
                  </div>
                  <button type="submit" class="subs-form__btn">Записаться на урок</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="subject-teacher">
          <div class="subject-teacher__image">
            <img src="../img/teachers/daria-img.jpg" alt="diana-img" class="subject-teacher__img">
          </div>
          <div class="subject-teacher__about">
            <div class="subject-teacher__block1">
            «Почему преподавание? Наверное нужно начать с самого рождения. Мой день рождения совпадает со Всемирным днём учителей. И дальше меня по жизни сопровождала педагогика: педагогическая гимназия, педагогический ВУЗ, учительство, тренинги, семинары, репетиторство. Я поняла, что от судьбы не уйдёшь.<br>
            С раннего детства мне интересно было строение всего: шкафчика, магнитофона, игрушки, цветка, а дальше — животных, человека, всего вокруг. А что как не химия с биологией смогут ответить на эти вопросы? Поэтому увлеклась химией, медициной, биологией.
            </div>
            <div class="subject-teacher__block2">
            Моя детская мечта — быть или врачом, или учителем. И я стала! Сейчас ни капли не жалею, ведь без учителя не будет ни врача, ни юриста, ни инженера... Никого. Быть у истоков всего, знать многое из разных областей науки, понимать из чего всё состоит, заглянуть туда, куда не каждый посмотрит, делиться знаниями с другими и получать новые, познавать, совершенствоваться. От всего этого я просто кайфую. А когда получаешь благодарность, радость в ответ от учеников, понимаешь, что помогла понять тему, разобраться с задачей, поступить в университет — приятно вдвойне.<br>
            Больше всего в онлайн работе мне нравится то, что ты можешь общаться не только с учениками твоего города, но и всей страны или любого уголка мира.<br>С удовольствием познакомлюсь и с тобой, мой новый друг, и с радостью поведу в волшебный мир биологии. Будет очень интересно!», — Дарья, преподаватель биологии в O!School
            </div>
            <a class="subject-toggle" href="#">Развернуть &#8659;</a>
          </div>
        </div>
      </div>
      </div>
    </div>
  </section>
  <!-- /.subject -->

  <section class="revs">
    <div class="container">
      <div class="revs-wrapper">
        <div class="revs-header">
          <h1 class="revs-title">Отзывы о преподавателе</h1>
        </div>
        <div class="revs-slider">
          <div class="revs-slider__container">
            <div class="revs-slider__item active-slide">
              <img src="../img/reviews/rev1.jpg" alt="" class="revs-slider__img">
            </div>
            <div class="revs-slider__item">
              <img src="../img/reviews/rev2.jpg" alt="" class="revs-slider__img">
            </div>
            <div class="revs-slider__item">
              <img src="../img/reviews/rev3.jpg" alt="" class="revs-slider__img">
            </div>
          </div>
        </div>
        <ul class="revs-slider__dots"></ul>
      </div>
    </div>
  </section>

  <footer class="footerS">
    <div class="container">
      <div class="footerS-wrapper">
        <div class="footerS-left">
          <div class="footerS-logo"></div>
        </div>
        <div class="footerS-scroll__sub">
          <div class="footerS-copyright__sub">© 2019-2020 O!School. Все права защищены.</div>
        </div>
      </div>
    </div>
  </footer>
  <!-- /.footer -->

  <script type="text/javascript" src="../dist/jquery-3.5.1.min.js"></script>
  <script>
    $(document).ready(function(){
      $('.subject-toggle').click(function(){
        $('.subject-teacher__block2').slideToggle(300, function(){
          if ($(this).is(':hidden')) {
            $('.subject-toggle').html('Развернуть &#8659;');
          } else {
            $('.subject-toggle').html('Свернуть &#8657;');
          }							
        });
        return false;
      });
    });
  </script>
  <script type="text/javascript" src="../dist/sliderReviews.js"></script>
  <script type="text/javascript">
    $(document).ready(function () {
    $('#contact-form-biology').submit(function () {
      var formID = $(this).attr('id'); // Получение ID формы
      var formNm = $('#' + formID);
      $.ajax({
        type: 'POST',
        url: 'contact-form.php', // Обработчик формы отправки
        data: formNm.serialize(),
        success: function (data) {
          // Вывод текста результата отправки в текущей форме
          setTimeout(function(){
            $('#contact-form-biology')[0].reset();
            setTimeout(function(){

              var id = 'contact-form-biology';
              var html = '<div id="contact-form-biology">' +
                      '<span style="text-align: center;">Спасибо! Мы свяжемся с вами в ближайшее время.</span>\n' + '</div>';
              var obj=document.getElementById(id);
              var o=document.createElement('div');
              o.innerHTML=html;
              obj.innerHTML=o.children[0].innerHTML;

            }, 1000);

          }, 2000);


        }
      });
      return false;
    });
  });

  $(document).ready(function(){
    $('.phone__input').mask('+38(000)-000-00-00');
  });
</script>

</body>
</html>