<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" sizes="32x32" href="../favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="../favicon/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="../favicon/favicon-16x16.png">
  <link rel="stylesheet" href="../css/style.css">
  <title>School</title>
</head>
<body>

  <header class="header header-subject">
    <div class="progress">
    </div>
    <div class="container">
      <div class="header-wrapper">
        <a href="javascript:history.back()" class="header-back">&#171; Вернуться на главную</a>
        <a href="javascript:history.back()" class="header-back-mob">&#171;</a>
        <a href="../index.html" class="header-logo"></a>
        <div class="header-social">
          <a href="https://www.facebook.com/o.school.online" title="O!School Facebook" target="_blank" class="header-link header-link__facebook"></a>
          <a href="https://www.instagram.com/o.school.online" title="O!School Instagram" target="_blank" class="header-link header-link__instagram"></a>
          <a title="O!School Call" class="header-link header-link__phone"></a>
          <span class="header-tel header-tel__none">+380983536684<span class="header-tel__close">&#10006;</span>
        </div>
      </div>
    </div>
  </header>
  <!-- /.header -->

  <section class="subject" id="subject">
    <div class="container">
      <div class="subject-wrapper">
        <div class="subject-main">
          <div class="subject-title">Химия в O!School</div>
          <div class="subject-main__info">
            <div class="subject-info__left">
              <h2 class="subject-subtitle">Программы занятий</h2>
              <ul class="subject-info__list">
                <li class="subject-info__article">
                  <span clas="subject-info__title">
                    Индивидуальная программа
                  </span>
                  <span class="subject-info__subtitle">
                    — делаем акцент только на самых интересных или сложных для ученика темах;
                  </span>
                </li>
                <li class="subject-info__article">
                  <span clas="subject-info__title">
                    Школьная программа
                  </span>
                  <span class="subject-info__subtitle">
                    — разбираем непонятные моменты и помогаем с выполнением домашних заданий;
                  </span>
                </li>
                <li class="subject-info__article">
                  <span clas="subject-info__title">
                    Подготовка к ЗНО.
                  </span>
                </li>
              </ul>
              <h2 class="subject-subtitle">Цены и форматы занятий по английскому языку</h2>
              <ul class="subject-info__list">
                <li class="subject-info__article">
                  <span clas="subject-info__title">
                    Индивидуальные (стандарт)
                  </span>
                  <span class="subject-info__subtitle">
                    — 230 грн. (60 мин);
                  </span>
                </li>
                <li class="subject-info__article">
                  <span clas="subject-info__title">
                    Индивидуальные (подготовка к ЗНО)
                  </span>
                  <span class="subject-info__subtitle">
                    — 250 грн. (60 мин);
                  </span>
                </li>
                <li class="subject-info__article">
                  <span clas="subject-info__title">
                    Полуиндивидуальные (2 ученика)
                  </span>
                  <span class="subject-info__subtitle">
                    — 400 грн. (60 мин) / (за двоих);
                  </span>
                </li>
                <li class="subject-info__article">
                  <span clas="subject-info__title">
                    Групповые (только по ЗНО, в группе 3-5 чел.)
                  </span>
                  <span class="subject-info__subtitle">
                    — 260 грн. (1,5 часа).
                  </span>
                </li>
              </ul>
            </div>
            <div class="subject-info__right">
              <form action="" class="subs-form" id="contact-form-subjects">
                <h2 class="subject-subtitle">Запись на урок</h2>
                <div class="subs-form__container">
                  <div class="subs-form__header">
                    <div class="subs-form__head">
                      <label for="uname-subs"><b>Ваше имя</b></label>
                      <input type="text" placeholder="Имя" name="uname-subs" class="subs-form__input inputs" required>
                    </div>
                    <div class="subs-form__head">
                      <label for="yourphone-subs"><b>Номер телефона</b></label>
                      <input type="tel" name="yourphone-subs" placeholder="+38(000)-000-00-00" class="subs-form__input phone-input inputs" required>
                    </div>   
                    <input type="text" class="subs-undisplay teacher-input">
                    <input type="text" class="subs-undisplay subject-input">
                    <div class="subs-form__head">
                      <label for="howto-subs"><b>Как с Вами связаться?</b></label>
                      <select type="tel" name="howto-subs" class="subs-form__select inputs">
                        <option>Тел. звонок</option>
                        <option>Viber</option>
                        <option>Telegram</option>
                        <option>WhatsApp</option>
                      </select>
                    </div>
                  </div>
                  <div class="subs-form__message">
                    <label for="yourtext"><b>Ваше сообщение</b></label>
                    <textarea type="text" name="yourtext-subs" class="subs-form__textarea inputs" placeholder="В какое время вам лучше позвонить, чтоб уточнить детали?"></textarea>
                  </div>
                  <button type="submit" class="subs-form__btn">Записаться на урок</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="subject-teacher">
          <div class="subject-teacher__image">
            <img src="../img/teachers/irina-img.jpg" alt="diana-img" class="subject-teacher__img">
          </div>
          <div class="subject-teacher__about">
            <div class="subject-teacher__block1">
            «Как и любой человек, я нахожусь в вечном поиске себя. Когда я почувствовала, что мне есть чем поделиться с учениками, что я могу использовать в уроках химии ещё и новые знания, которые я получаю в медицинском университете, я поняла, что назад дороги нет — я наконец-то нашла любимое дело, которое меня вдохновляет двигаться дальше и передавать свой опыт младшим поколениям.<br>Химия всегда была моим любимым предметом, так как я не ищу по жизни легких путей ;) К тому же, в своё время мои занятия с репетитором проходили в тёплой, комфортной и дружеской обстановке, поэтому каждому своему ученику я стараюсь обеспечить такой же формат занятий — всё ради того, чтобы они по-настоящему полюбили заниматься химией.
            </div>
            <div class="subject-teacher__block2">
            Химия на 100% связана с работой человеческого организма, всеми вещами, окружающими нас в повседневной жизни. Зная первоначальные понятия и основные законы химии, мы можем предотвратить множество ошибок в быту и обезопасить свое здоровье.<br>
            Я всегда знала, что хочу преподавать. Если бы не химия, то это были бы медицинские семинары и конференции. Хотя, пожалуй, это остаётся одним из планов на будущее.<br>
            Онлайн формат обучения мне нравится, так как мы экономим наш самый ценный ресурс — время. Плюс — не тратим деньги на проезд.<br>
            Я умею найти подход к ученику с любым характером, что помогает понятно и доступно излагать материал. В жизни я постоянно общаюсь с пациентами разных возрастных категорий, что очень помогает в педагогической практике, в том, чтобы находить общий язык с разными учениками.<br>
            Благодаря работе преподавателя в моей жизни появилось несколько хороших друзей. Уже не с одним моим учеником мы продолжаем общаться и видеться даже после их поступления в университеты. И это действительно круто 😊», — Ирина, преподаватель химии в O!School.
            </div>
            <a class="subject-toggle" href="#">Развернуть &#8659;</a>
          </div>
        </div>
      </div>
      </div>
    </div>
  </section>
  <!-- /.subject -->

  <section class="revs">
    <div class="container">
      <div class="revs-wrapper">
        <div class="revs-header">
          <h1 class="revs-title">Отзывы о преподавателе</h1>
        </div>
        <div class="revs-slider">
          <div class="revs-slider__container">
            <div class="revs-slider__item active-slide">
              <img src="../img/reviews/rev1.jpg" alt="" class="revs-slider__img">
            </div>
            <div class="revs-slider__item">
              <img src="../img/reviews/rev2.jpg" alt="" class="revs-slider__img">
            </div>
            <div class="revs-slider__item">
              <img src="../img/reviews/rev3.jpg" alt="" class="revs-slider__img">
            </div>
          </div>
        </div>
        <ul class="revs-slider__dots"></ul>
      </div>
    </div>
  </section>

  <footer class="footerS">
    <div class="container">
      <div class="footerS-wrapper">
        <div class="footerS-left">
          <div class="footerS-logo"></div>
        </div>
        <div class="footerS-scroll__sub">
          <div class="footerS-copyright__sub">© 2019-2020 O!School. Все права защищены.</div>
        </div>
      </div>
    </div>
  </footer>
  <!-- /.footer -->

  <script type="text/javascript" src="../dist/jquery-3.5.1.min.js"></script>
  <script>
    $(document).ready(function(){
      $('.subject-toggle').click(function(){
        $('.subject-teacher__block2').slideToggle(300, function(){
          if ($(this).is(':hidden')) {
            $('.subject-toggle').html('Развернуть &#8659;');
          } else {
            $('.subject-toggle').html('Свернуть &#8657;');
          }							
        });
        return false;
      });
    });
  </script>
  <script type="text/javascript" src="../dist/sliderReviews.js"></script>

</body>
</html>