<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" sizes="32x32" href="../favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="../favicon/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="../favicon/favicon-16x16.png">
  <link rel="stylesheet" href="../css/style.css">
  <title>School</title>
</head>
<body>

  <div class="preloader">
    <div class="preloader__row">
      <div class="preloader__item"></div>
      <div class="preloader__item"></div>
    </div>
  </div>
  <!-- /.preloader -->

  <header class="header header-subject">
    <div class="progress">
    </div>
    <div class="container">
      <div class="header-wrapper">
        <a href="" class="header-back">&#171; Вернуться на главную</a>
        <a href="#main" class="header-logo"></a>
        <div class="header-social">
          <a href="https://www.facebook.com/o.school.online" title="O!School Facebook" target="_blank" class="header-link header-link__facebook"></a>
          <a href="https://www.instagram.com/o.school.online" title="O!School Instagram" target="_blank" class="header-link header-link__instagram"></a>
          <a title="O!School Call" class="header-link header-link__phone"></a>
          <span class="header-tel header-tel__none">+380983536684<span class="header-tel__close">&#10006;</span>
        </div>
      </div>
    </div>
  </header>
  <!-- /.header -->

  <section class="english">
    <div class="container">
      <div class="english-wrapper">
        <div class="english-main">
          <div class="english-title">Английский язык в O!School</div>
          <div class="english-main__info">
            <div class="english-info">
              <h2 class="english-subtitle">Программы занятий</h2>
              <ul class="english-info__list">
                <li class="english-info__article">
                  <span clas="english-info__title">
                    Индивидуальная программа
                  </span>
                  <span class="english-info__subtitle">
                    — делаем акцент только на самых интересных или сложных для ученика темах;
                  </span>
                </li>
                <li class="english-info__article">
                  <span clas="english-info__title">
                    Школьная программа
                  </span>
                  <span class="english-info__subtitle">
                    — разбираем непонятные моменты и помогаем с выполнением домашних заданий;
                  </span>
                </li>
                <li class="english-info__article">
                  <span clas="english-info__title">
                    Подготовка к ЗНО, ДПА, международным экзаменам.
                  </span>
                </li>
              </ul>
              <h2 class="english-subtitle">Цены и форматы занятий по английскому языку</h2>
              <ul class="english-info__list">
                <li class="english-info__article">
                  <span clas="english-info__title">
                    Индивидуальные (стандарт)
                  </span>
                  <span class="english-info__subtitle">
                    — 230 грн. (60 мин);
                  </span>
                </li>
                <li class="english-info__article">
                  <span clas="english-info__title">
                    Индивидуальные (подготовка к ЗНО)
                  </span>
                  <span class="english-info__subtitle">
                    — 250 грн. (60 мин);
                  </span>
                </li>
                <li class="english-info__article">
                  <span clas="english-info__title">
                    Полуиндивидуальные (2 ученика)
                  </span>
                  <span class="english-info__subtitle">
                    — 400 грн. (60 мин) / (за двоих);
                  </span>
                </li>
                <li class="english-info__article">
                  <span clas="english-info__title">
                    Групповые (только по ЗНО, в группе 3-5 человек)
                  </span>
                  <span class="english-info__subtitle">
                    — 260 грн. (1,5 часа).
                  </span>
                </li>
              </ul>
            </div>
            <div class="english-form"></div>
          </div>
        </div>
        <div class="english-teacher">
          <div class="english-teacher__image">
            <img src="../img/teachers/diana-img.jpg" alt="diana-img" class="english-teacher__img">
          </div>
          <div class="english-teacher__about">«Желание преподавать было с детства. Нравится обучать других тому, что умею сама, нравится делиться своими знаниями.<br>
          Почему именно английский? Этот язык я изучаю с раннего детства, с 4-х лет. Просто не представляю другой предмет для преподавания.<br>Наверное, нет того, кто не знал бы о необходимости знания английского — язык может пригодиться везде: в учебе, в работе, в путешествиях, для самообразования, для жизни в англоговорящей стране.<br>
          Если бы я не преподавала, то, скорее всего, занималась бы переводами. Моё первое высшее образование — юридическое, а моя основная работа — юрист-международник.<br>
          Онлайн-формат люблю прежде всего за то, что можно обучать ученика из любого города и любой страны. Плюс то, что занятия проходят в комфортной для ученика обстановке, при любых условиях, в любое удобное дня ученика время (например, занятие все равно можно посетить, если уехать из дома на урок к репетитору мешает плохая погода или какие-то жизненные обстоятельства). <br>
          Быть преподавателем мне нравится и даётся не сложно, потому что обладаю важными для такой работы качествами — терпеливостью, целеустремленностью, доброжелательностью, коммуникабельностью», — Диана, преподаватель английского в O!School.
          </div>
        </div>
      </div>
    </div>
    
  </section>
  <!-- /.english -->

  <footer class="footer">
    <div class="container">
      <div class="footer-wrapper">
        <div class="footer-left">
          <div class="footer-logo"></div>
          <div class="footer-copyright">© 2019-2020 O!School. Все права защищены.</div>
        </div>
        <div class="footer-scroll__bg">
          <a href="#main" class="footer-scroll__link"></a>
        </div>
      </div>
    </div>
  </footer>
  <!-- /.footer -->

  <script type="text/javascript" src="../dist/main.js"></script>

</body>
</html>