<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" sizes="32x32" href="../favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="../favicon/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="../favicon/favicon-16x16.png">
  <link rel="stylesheet" href="../css/style.css">
  <title>School</title>
</head>
<body>

  <header class="header header-subject">
    <div class="progress">
    </div>
    <div class="container">
      <div class="header-wrapper">
        <a href="javascript:history.back()" class="header-back">&#171; Вернуться на главную</a>
        <a href="../index.html" class="header-logo"></a>
        <div class="header-social">
          <a href="https://www.facebook.com/o.school.online" title="O!School Facebook" target="_blank" class="header-link header-link__facebook"></a>
          <a href="https://www.instagram.com/o.school.online" title="O!School Instagram" target="_blank" class="header-link header-link__instagram"></a>
          <a title="O!School Call" class="header-link header-link__phone"></a>
          <span class="header-tel header-tel__none">+380983536684<span class="header-tel__close">&#10006;</span>
        </div>
      </div>
    </div>
  </header>
  <!-- /.header -->

  <section class="subject" id="subject">
    <div class="container">
      <div class="subject-wrapper">
        <div class="subject-main">
          <div class="subject-title">Математика в O!School</div>
          <div class="subject-main__info">
            <div class="subject-info__left">
              <h2 class="subject-subtitle">Программы занятий</h2>
              <ul class="subject-info__list">
                <li class="subject-info__article">
                  <span clas="subject-info__title">
                    Индивидуальная программа
                  </span>
                  <span class="subject-info__subtitle">
                    — делаем акцент только на самых интересных или сложных для ученика темах;
                  </span>
                </li>
                <li class="subject-info__article">
                  <span clas="subject-info__title">
                    Школьная программа
                  </span>
                  <span class="subject-info__subtitle">
                    — разбираем непонятные моменты и помогаем с выполнением домашних заданий;
                  </span>
                </li>
                <li class="subject-info__article">
                  <span clas="subject-info__title">
                    Подготовка к ЗНО, ДПА.
                  </span>
                </li>
              </ul>
              <h2 class="subject-subtitle">Цены и форматы занятий по английскому языку</h2>
              <ul class="subject-info__list">
                <li class="subject-info__article">
                  <span clas="subject-info__title">
                    Индивидуальные (стандарт)
                  </span>
                  <span class="subject-info__subtitle">
                    — 230 грн. (60 мин);
                  </span>
                </li>
                <li class="subject-info__article">
                  <span clas="subject-info__title">
                    Индивидуальные (подготовка к ЗНО)
                  </span>
                  <span class="subject-info__subtitle">
                    — 250 грн. (60 мин);
                  </span>
                </li>
                <li class="subject-info__article">
                  <span clas="subject-info__title">
                    Полуиндивидуальные (2 ученика)
                  </span>
                  <span class="subject-info__subtitle">
                    — 400 грн. (60 мин) / (за двоих);
                  </span>
                </li>
                <li class="subject-info__article">
                  <span clas="subject-info__title">
                    Групповые (только по ЗНО, в группе 3-5 чел.)
                  </span>
                  <span class="subject-info__subtitle">
                    — 350 грн. (1,5 часа).
                  </span>
                </li>
              </ul>
            </div>
            <div class="subject-info__right">
              <form action="" class="subs-form" id="contact-form-subjects">
                <h2 class="subject-subtitle">Запись на урок</h2>
                <div class="subs-form__container">
                  <div class="subs-form__header">
                    <div class="subs-form__head">
                      <label for="uname-subs"><b>Ваше имя</b></label>
                      <input type="text" placeholder="Имя" name="uname-subs" class="subs-form__input inputs" required>
                    </div>
                    <div class="subs-form__head">
                      <label for="yourphone-subs"><b>Номер телефона</b></label>
                      <input type="tel" name="yourphone-subs" placeholder="+38(000)-000-00-00" class="subs-form__input phone-input inputs" required>
                    </div>   
                    <input type="text" class="subs-undisplay teacher-input">
                    <input type="text" class="subs-undisplay subject-input">
                    <div class="subs-form__head">
                      <label for="howto-subs"><b>Как с Вами связаться?</b></label>
                      <select type="tel" name="howto-subs" class="subs-form__select inputs">
                        <option>Тел. звонок</option>
                        <option>Viber</option>
                        <option>Telegram</option>
                        <option>WhatsApp</option>
                      </select>
                    </div>
                  </div>
                  <div class="subs-form__message">
                    <label for="yourtext"><b>Ваше сообщение</b></label>
                    <textarea type="text" name="yourtext-subs" class="subs-form__textarea inputs" placeholder="В какое время вам лучше позвонить, чтоб уточнить детали?"></textarea>
                  </div>
                  <button type="submit" class="subs-form__btn">Записаться на урок</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="subject-teacher">
          <div class="subject-teacher__image">
            <img src="../img/teachers/yaroslava-img.jpg" alt="diana-img" class="subject-teacher__img">
          </div>
          <div class="subject-teacher__about">
            <div class="subject-teacher__block1">
            «Я преподаю, потому что знаю, как объяснить математику или физику «на пальцах». Я не люблю чересчур заумные фразы и поэтому рассказываю так, чтобы человек понял.<br>
            Многие люди задают вопрос о том, зачем нам нужна физика или математика. Так вот... Человек, который изучает точные науки, мыслит иначе. В любых ситуациях принимаются точные решения. Если говорить конкретно о предмете, то могу сказать так — человек, который фанатеет от науки, везде найдёт ей применение.<br>
            Я знаю, что занимаюсь своим делом. И что ещё важно — я работаю на результат. Это одно из моих главных качеств», — Ярослава, преподаватель математики и физики в O!School.              
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </section>
  <!-- /.subject -->

  <section class="revs">
    <div class="container">
      <div class="revs-wrapper">
        <div class="revs-header">
          <h1 class="revs-title">Отзывы о преподавателе</h1>
        </div>
        <div class="revs-slider">
          <div class="revs-slider__container">
            <div class="revs-slider__item active-slide">
              <img src="../img/reviews/rev1.jpg" alt="" class="revs-slider__img">
            </div>
            <div class="revs-slider__item">
              <img src="../img/reviews/rev2.jpg" alt="" class="revs-slider__img">
            </div>
            <div class="revs-slider__item">
              <img src="../img/reviews/rev3.jpg" alt="" class="revs-slider__img">
            </div>
          </div>
        </div>
        <ul class="revs-slider__dots"></ul>
      </div>
    </div>
  </section>

  <footer class="footer">
    <div class="container">
      <div class="footer-wrapper">
        <div class="footer-left">
          <div class="footer-logo"></div>
        </div>
        <div class="footer-scroll__sub">
          <div class="footer-copyright__sub">© 2019-2020 O!School. Все права защищены.</div>
        </div>
      </div>
    </div>
  </footer>
  <!-- /.footer -->

  <script type="text/javascript" src="../dist/sliderReviews.js"></script>

</body>
</html>